h1 {
	text-align: center;
}


.board {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-color: lightblue;
	
    
}

.box {
	width: 150px;
	height: 150px;
	border: 3px solid gray;
	display: inline-block;
	margin: 5px;
}
.playX {
   background-image: url("../x-image.png");
   background-size: cover;
   background-position: center ;
   }

.playO {
   background-image: url("../o-image.png");
   background-size: cover;
   background-position: center ;
   }
